@font-face {
  font-family: 'LetsGoDigital';
  src: url('fonts/LetsGoDigital.ttf');
}

/* Adding old styling */
body {
  height:100%;
  background-color:#000000;
  overflow:hidden;
}

.clock {
  display:block;
  margin:auto;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  padding:10px;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  /* Make image default to scaling to screen width */
  background-size: auto 100%;
}

.clock_background_ambilight {
  /* Make image scale to screen height */
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.image {
   /* default responsive settings for images */
  max-width: 100%;
  height: auto;
}

.light {
  /* change for best results */
  opacity: 0.75;
  /* change for bigger/smaller shine */
  filter: blur(50px);
  /* fill the box with light: */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  height:100%;
  position: relative;
}

.weather {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: auto;
  overflow: visible;
  font-family: 'LetsGoDigital', monospace;
  color:#DB0000;
  text-shadow: 0 0 20px #000000;
}

.weather_degrees {
  padding: 0;
  margin: 0 0 0 20px;
  font-size:6em;
  line-height: 75%;
}

.weather_description {
  padding: 0;
  margin: 0 0 0 20px;
  font-size:3em;
  line-height: 75%;
}

.weatherMainImage {
  width: 275px;
  height: auto;
  padding:0;
  margin:0;
  position: absolute;
  bottom: -40px;
  left: -55px;
  /*-webkit-filter: invert(1) drop-shadow(0 0 20px #222);*/
  -webkit-filter: invert(1) sepia(1) saturate(100000%) brightness(11%) hue-rotate(300deg) brightness(310%) contrast(450%) drop-shadow(0 0 10px #222);
  filter: invert(1) sepia(1) saturate(100000%) brightness(11%) hue-rotate(300deg) brightness(310%) contrast(450%) drop-shadow(0 0 10px #222);
}

.clock_overlay {
  position:absolute;
  bottom:0;
  right:40px;
  float:right;
  z-index:10;
  font-family: 'LetsGoDigital', monospace;
  font-size:6em;
  color:#DB0000;
  text-shadow: 0 0 20px #000000;
}
.clock_overlay p {
  padding:0;
  margin:0;

}
.invert_image_color {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.ghost_button {
  padding: 5px 10px;
  margin-right:5px;
  border:2px #DB0000 solid;
  box-shadow: 2px 2px 4px #000000;
  cursor:pointer;
  display:inline-block;
  color:#DB0000;
  font-weight:bold;
  text-shadow: 0 0 10px #000000;
}
.ghost_button p {
  padding:0;
  margin:0;
  display:inline-block;
  font-family: 'LetsGoDigital', monospace;
}
.ghost_button:hover {
  color:black;
  background-color:#DB0000;
  text-shadow:none;
}
.ghost_button a, a:hover, a:link {
  cursor:pointer;
  text-decoration:none;
  color:white;
  display:inline-block;
}
.slideshow_controls {
  position:absolute;
  z-index:10;
  top:10px;
}

/* Clock background fading animations */
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
  display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
  opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}