/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Adding old styling */
body {
  height:100%;
  background-color:#000000;
  overflow:hidden;
}
#center_button {
  text-align:center;
}
#center_button button {
  margin:5px;
  width:200px;
}
#center_button input {
  margin:5px;
  width:100px;
}
.login {
  width:320px;
  margin-left:auto;
  margin-right:auto;
}
.login > .form_align {
  width:100%;
  margin-bottom:10px;
}
.login > .form_align label {
  font-size:1.2em;
}
.login > .form_align input {
  width:200px;
  float:right;
}
#clock {
  display:block;
  margin:auto;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  padding:10px;
  width:100%;
  /* Make image default to scaling to screen width */
  /*background-size: 100% auto;*/
  background-position: center;
  background-repeat: no-repeat;
  /*background-image: url(/images/backgrounds/default.jpg);*/
  /*background-color: blue;*/
  /*z-index: 10;*/
  /* Make image scale to screen height */
  background-size: auto 100%;
}
#clock_background_ambilight {
  display:block;
  margin:auto;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  padding:10px;
  width:100%;
  height:100%;
  /* Make image scale to screen height */
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  /* Ambilight effects*/
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw);
  -o-filter: blur(2vw);
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity:1;
}
.bgwidth {
  width: 100%;
  display:block;
  margin:auto;
}
.bgheight {
  height: 100%;
  display:block;
  margin:auto;
}
#wrapper {
  width:100%;
}
@font-face {
  font-family: 'LetsGoDigital';
  src: url('fonts/LetsGoDigital.ttf');
}
#overlay {
  height:100%;
  position: relative;
}
#weather {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: auto;
  overflow: visible;
  font-family: 'LetsGoDigital';
  color:#DB0000;
  text-shadow: 0px 0px 20px #000000;
}
.weather_degrees {
  padding: 0;
  margin: 0;
  margin-left: 175px;
  font-size:6em;
  line-height: 75%;
}
.weather_description {
  padding: 0;
  margin: 0;
  margin-left: 175px;
  font-size:3em;
  line-height: 75%;
}
.weatherMainImage {
  width: 275px;
  height: auto;
  padding:0;
  margin:0;
  position: absolute;
  bottom: -40px;
  left: -55px;
  /*-webkit-filter: invert(1) drop-shadow(0 0 20px #222);*/
  -webkit-filter: invert(1) sepia(1) saturate(100000%) brightness(11%) hue-rotate(300deg) brightness(310%) contrast(450%) drop-shadow(0 0 10px #222);
  filter: invert(1) sepia(1) saturate(100000%) brightness(11%) hue-rotate(300deg) brightness(310%) contrast(450%) drop-shadow(0 0 10px #222);
}
#clock_overlay {
  position:absolute;
  bottom:0;
  right:40px;
  float:right;
  z-index:10;
  font-family: 'LetsGoDigital';
  font-size:6em;
  color:#DB0000;
  text-shadow: 0 0 20px #000000;
}
#clock_overlay p {
  padding:0;
  margin:0;

}
.invert_image_color {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.ghost_button {
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  margin-right:5px;
  border:2px #DB0000 solid;
  box-shadow: 2px 2px 4px #000000;
  cursor:pointer;
  display:inline-block;
  color:#DB0000;
  font-weight:bold;
  text-shadow: 0 0 10px #000000;
}
.ghost_button p {
  padding:0;
  margin:0;
  display:inline-block;
  font-family: 'LetsGoDigital';
}
.ghost_button:hover {
  color:black;
  background-color:#DB0000;
  text-shadow:none;
}
.ghost_button a, a:hover, a:link {
  cursor:pointer;
  text-decoration:none;
  color:white;
  display:inline-block;
}
#slideshow_controls {
  position:absolute;
  z-index:10;
  top:10px;
}
.button_clock {
  position:absolute;
  z-index:10;
  bottom:10px;
}
#button_clock_show {
  display:none;
}

/* Clock background fading animations */
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
  display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
  opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}