<!-- This is the main view (the clock) -->
<script>
//    var app = angular.module('myApp.weather', [
//        'angular-openweathermap', 'ngSanitize', 'ui.bootstrap'
//    ]);
//
//    app.controller('WeatherCtrl', function($scope) {
//    });
</script>
<div id="clock_background_ambilight" ng-style="{'background-image':'url('+ bgPictureBlur + ')'}"></div>
<div id="clock" ng-style="{'background-image':'url('+ bgPicture + ')'}">
    <div id="overlay">
        <div id="slideshow_controls">
            <div class="ghost_button" ng-click="toggleBackground_change();">
                <p id="toggle_slideshow">{{toggleBackground_button}}</p>
            </div>
            <div class="ghost_button" ng-click="changeBgPicture()">
                <p id="slideshow_next">Next</p>
            </div>
            <!--<div class="ghost_button" onclick="toggleSlideshowView();">-->
                <!--<p id="slideshow_view_toggle">Fill Screen</p>-->
            <!--</div>-->
        </div>
        <!--<img class="weatherMainImage" ng-src="/images/weather_icons/SVG/{{weatherIcon}}.svg" />-->
        <div id="weather">
            <!--<div class="container" ng-controller="WeatherCtrl">-->
                <!--<angular-openweathermap city-name="Pocatello" offset-hours="-7" offset-minutes="0"></angular-openweathermap>-->
            <!--</div>-->
            <!--<p class="weather_degrees">76&deg; F</p>-->
            <!--<p class="weather_description">Party Cloudy</p>-->
        </div>
        <div id="clock_overlay">
            <p>{{clockTime | date:'HH:mm'}}</p>
        </div>
    </div>

</div>