<div class="clock_background_ambilight">
    <div class="clock" ng-style="{'background-image':'url('+ bgPicture + ')'}"></div>
    <div class="clock">
        <div class="overlay">
            <div class="slideshow_controls">
                <div class="ghost_button" ng-click="toggleBackground_change();">
                    <p>{{toggleBackground_button}}</p>
                </div>
                <div class="ghost_button" ng-click="changeBgPicture()">
                    <p>Next</p>
                </div>
            </div>
            <img class="weatherMainImage" ng-src="images/weather_icons/SVG/{{weatherIcon}}.svg" />
            <div class="weather">
    <!--            <div class="container" ng-controller="WeatherCtrl">-->
    <!--                <angular-openweathermap city-name="Pocatello" offset-hours="-7" offset-minutes="0"></angular-openweathermap>-->
    <!--            </div>-->
<!--                <p class="weather_degrees">76&deg; F</p>-->
<!--                <p class="weather_description">Party Cloudy</p>-->
            </div>
            <div class="clock_overlay">
                <p>{{clockTime | date:'HH:mm:ss'}}</p>
            </div>
        </div>

    </div>
    <div class="light" ng-style="{'background-image':'url('+ bgPicture + ')'}"></div>
</div>